.buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  position: relative;
  height: 450px;

  &.isPFI {
    height: 265px;
  }
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 450px;

  &.isPFI {
    height: 265px;
  }
}

.contentWrapper {
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
}

.content {
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  :global(.alignleft) {
    float: left;
  }

  :global(.alignright) {
    float: right;
  }

  a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}
