@import '../styles/variables.module.scss';

.main {
  padding: 45px 15px;
}

.content {
  color: $body-color;
  margin: 0 auto;
  max-width: 960px;
  padding: 45px 15px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-color;
  }
}
