.main {
  padding: 45px 15px;
}

.firms {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  ul {
    padding: 1rem 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) {
      background: #f2f2f2;
      margin: 0 -1rem;
      padding: 1rem;
    }
  }

  @media (max-width: 575px) {
    ul {
      grid-template-columns: 1fr;
    }

    li {
      &:nth-child(odd) {
        order: 1;
      }

      &:nth-child(even) {
        order: 2;
      }
    }
  }
}
