.main {
  padding: 45px 15px;
}

.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.installation {
  &:first-of-type {
    margin-bottom: 45px;
  }

  h2 {
    text-transform: uppercase;
  }

  h4 {
    color: #ccc;
  }
}

.textCenter {
  text-align: center;
}
